.clients-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.client-search-add-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 15px !important;

    button {
        width: 25%;
        margin: 0 !important;
        padding: 10px 0 !important;
        height: 40px;
    }
}

.clients-page-content {
    width: 60%;
    min-height: 59vh;
}

.client-card-container {
    margin: 15px 0 !important;
    padding: 20px !important;
    height: 115px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
        margin: 0;
    }

    .client-card-btns {
        display: flex;
        flex-direction: column;
        button {
            font-weight: bold;
            margin: 5px;
    
            &:hover {
                color: #FFF;
            }
        }
    }
}

.clients-pagination-container {
    width: 60%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 1px !important;
}

@media(max-width: 768px) {
    .client-search-add-container,
        .clients-page-content,
        .clients-pagination-container {
        width: 90%;
    }
}

@media(max-width: 576px) {
    .client-search-add-container {
        flex-direction: column-reverse;

        button {
            margin-top: 15px !important;
            width: 100%;
        }
    }
    .client-card-container{
        flex-direction: column;
        height: 100%;

        .client-card-info {
            width: 90%;
            margin-bottom: 15px;
        }

        .client-card-btns {
            flex-direction: column;
            width: 100%;
        }
    }

    .clients-page-content {
        height: 100%;
    }
}