.auth-container {
    display: flex;
    justify-content: center;
}

.auth-card {
    width: 70%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auth-info {
    width: 35%;
    height: 80%;
}

.auth-content {
    width: 50%;
    height: 100%;
}

@media (max-width: 768px) {
    .auth-card {
        width: 85%;
    }
    .auth-info {
        display: none;
    }

    .auth-content {
        width: 95%;
        height: 100%;
    }
}