.navbar-container {
    background-color: #FFF;
    height: 70px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar-title {
    display: flex;
    text-decoration: none;

    a {
        display: flex;
        text-decoration: none;    
    }

    h1 {
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-transform: uppercase;
        margin-right: 5px;
    }
}

.navbar-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 70%;
    height: 100%;
    align-items: center;

    a {
        color: #9E9E9E;
        text-transform: uppercase;
        text-decoration: none;

        &:hover {
            color: #263238;
        }
    }

    .navbar-btn-container {
        width: 30%;
        display: flex;
        justify-content: flex-end;
        margin-right: -10%;
    
        .navbar-btn {
            width: 65%;
            border-radius: 25px !important;
            color: #FFF !important;

            &:hover {
                background-color: #3E9696;
            }
        }
    }
}