$theme-colors: (
    "primary": #42A3A3,
    "secondary": #DCE448,
    "thirdy": #8C8863,
    "gray": #8F8F8F,
    "danger": #842429,
    "info": #407BFF
);

$body-bg: #42A3A3;
$body-color: #263238;

@import 'bootstrap/scss/bootstrap.scss';